*.mf filter=lfs diff=lfs merge=lfs -text
cg.dll filter=lfs diff=lfs merge=lfs -text
cgGL.dll filter=lfs diff=lfs merge=lfs -text
resources/ filter=lfs diff=lfs merge=lfs -text
resources/phase_4.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_5.5.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_8.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_9.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_11.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_3.5.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_3.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_5.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_6.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_7.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_10.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_12.mf filter=lfs diff=lfs merge=lfs -text
resources/phase_13.mf filter=lfs diff=lfs merge=lfs -text
ToonIslandAftermath.exe filter=lfs diff=lfs merge=lfs -text
ToonIslandAftermath-darwin filter=lfs diff=lfs merge=lfs -text
